@import "tailwindcss";

@font-face {
  font-family: 'Frutiger';
  src: url('/fonts/Frutiger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Frutiger', Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.limit {
  /* max-width: 1200px !important; */

}

.limit-center {
  display: flex;
  justify-content: center;
}

.intro {
  background-image: url('/images/introbg.jpg');

}

.banner {
  background-image: url('/images/bg.jpg');
}

.top-b {
  background-image: url('/images/banner.png');

  background-repeat: no-repeat;
  /* background-position: right; */
   background-size: cover;
  height: 500px;
}

.newsbg {
  background-image: url('/images/newsbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.card
{
  box-shadow: 0px 0px 40px #D4C9B280 !important;
}


.slider
{
  max-width: 400px ;
}

@media only screen and (max-width: 600px) {
  .slider
  {
    max-width: 250px ;
    opacity: 0.8;
    height: fit-content;
  }
  .top-b
  {
    background-position: center !important;
  }
}